========
   CHAT POPUP
======================= */

#chatBox{

    position:fixed;

    bottom:95px;

    left:50%;

    transform:translateX(-50%);

    width:720px;

    max-width:92%;

    max-height:420px;

    overflow-y:auto;

    display:flex;

    flex-direction:column;

    gap:12px;

    padding:10px;

    z-index:999998;

}

.bot-message{

align-self:flex-start;

background:rgba(40,40,40,.95);

color:white;

padding:8px 12px;

border-radius:14px;

max-width:80%;

font-size:14px;

line-height:1.4;

}

.user-message{

align-self:flex-end;

background:#ff9800;

color:white;

padding:8px 12px;

border-radius:14px;

max-width:80%;

font-size:14px;

line-height:1.4;

}

@keyframes fade{

    from{

        opacity:0;

        transform:translateY(12px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

/* =======================
   MOBILE
======================= */

@media(max-width:768px){

#chatBox{

width:92%;

max-width:300px;

bottom:75px;

max-height:150px;

}

}

/* ===========================
   JARVIS CHAT BAR
=========================== */
#chatBox{

position:fixed;

left:50%;

bottom:80px;

transform:translateX(-50%);

width:90%;

max-width:320px;

max-height:170px;

overflow-y:auto;

display:flex;

flex-direction:column;

gap:8px;

padding:6px;

z-index:999998;

}

.jarvis-bar input{

flex:1;

background:transparent;

border:none;

outline:none;

padding-left:18px;

color:white;

font-size:17px;

}

.jarvis-bar input::placeholder{

color:#bdbdbd;

}

#sendBtn{

width:46px;

height:46px;

border:none;

border-radius:50%;

background:#ff9800;

color:white;

font-size:20px;

margin-right:8px;

cursor:pointer;

box-shadow:0 0 18px rgba(255,152,0,.9);

transition:.3s;

}

#sendBtn:hover{

transform:scale(1.08);

}

#micBtn{

width:46px;

height:46px;

border:none;

border-radius:50%;

background:#ff9800;

color:white;

font-size:22px;

cursor:pointer;

box-shadow:0 0 18px rgba(255,152,0,.9);

transition:.3s;

}

#micBtn:hover{

transform:scale(1.08);

}
